<h2>
  Update Product
</h2>

<p *ngIf = "!exist">
  Product doesn't exist
</p>

<form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "updateProduct(productData.value)">
  <label>ID: </label><input type = "text" name="id" id="id" placeholder="id" [(ngModel)] = "data.id" ngModel><br>
  <label>Item: </label><input type = "text" name="item" id="item" [(ngModel)] = "data.item" placeholder="item" ngModel><br>
  <label>Description: </label><input type = "text" name="description" id="description" [(ngModel)] = "data.description" placeholder="description" ngModel><br>
  <input type="submit" value = "Update Product">
</form>

